@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

/* Reset all style */
* {
    font-family: 'Poppins',
        sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

/* header section style */

header .header-contain {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .header-contain .img-responsive {
    width: 300px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

header .header-contain .description .description-contain {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill {
    font-weight: bold;
}

header .header-contain .description .description-contain :nth-child(1) {
    margin-top: 50px;
}

header .header-contain .description .description-contain :nth-child(2) {
    margin: 10px;
}

header .header-contain .description .description-contain :nth-child(3) {
    margin: 10px;
}

/* main section style */
main .container {
    width: 90%;
    margin: 0 auto;
}

main .container .portfolio {
    margin-top: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

main .container .portfolio .title {
    font-size: 50px;
    font-weight: bold;
    margin: 60px;
}



main .container .portfolio .portfolio-contain {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

main .container .portfolio .portfolio-contain .row {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main .container .portfolio .portfolio-contain .row .items {
    width: 24%;
    height: 500px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

main .container .portfolio .portfolio-contain .row .items:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

main .container .portfolio .portfolio-contain .row .item {
    width: 100%;
    height: 200px;
    cursor: pointer;
    background-position: center;
    background-size: cover;

    /* width: 250px; */
}

main .container .portfolio .portfolio-contain .row .items h1 {
    margin: 15px 0px 5px;
    line-height: 27px;
    text-align: center;
}

main .container .portfolio .portfolio-contain .row .items .description {
    margin: 10px 3px;
    text-align: center;
}

main .container .portfolio .portfolio-contain .row .items .btn {
    margin-top: 20px;
    border-radius: 25px;
    color: #000;
    text-align: center;
    width: 70%;
    height: 40px;
    padding: 8px 20px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

main .container .portfolio .portfolio-contain .row .items .btn:hover {
    color: #FFF;
    background: orange;
}

/**************************** Row 1 item img *************************/
main .container .portfolio .portfolio-contain .row .projet1 {
    background-image: url('../../asset/img/projet1.png');
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}


main .container .portfolio .portfolio-contain .row .projet2 {
    background-image: url('../../asset/img/projet2.png');
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}



main .container .portfolio .portfolio-contain .row .projet3 {
    background-image: url('../../asset/img/projet3.png');
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

main .container .portfolio .portfolio-contain .row .projet4 {
    background-image: url('../../asset/img/projet4.png');
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

/**************************** Row 2 item img *************************/
main .container .portfolio .portfolio-contain .row .projet5 {
    background-image: url('../../asset/img/projet5.png');
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

main .container .portfolio .portfolio-contain .row .projet6 {
    background-image: url('../../asset/img/projet6.png');
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

main .container .portfolio .portfolio-contain .row .projet7 {
    background-image: url('../../asset/img/projet7.png');
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

main .container .portfolio .portfolio-contain .row .projet8 {
    background-image: url('../../asset/img/projet8.png');
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

/*********************** Education *********************/
main .education {
    margin: 60px 0;
}

main .education .education-contain .education-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

/* Media Query */

/* flex: 1 1 90%; */
/* flex: 2 1 150px; */
@media screen and (max-width: 1020px) {
    main .container .portfolio .portfolio-contain .row .items {
        flex: 2 1 47%;
        margin: 10px;
    }

    main .container .portfolio .portfolio-contain .row {
        margin-bottom: 0px;
    }

    header .header-contain .img-responsive {
        width: 250px;
    }
}