@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

/* Reset all style */
* {
    font-family: 'Poppins',
        sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

/* header section style */
/* NavBar Style */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 77px;
    align-items: center;
    padding: 0 80px;
    display: flex;
    justify-content: space-around;
    background: #fff;
    transition: 1.5s;
    z-index: 1000;
}

header .logo {
    color: #000;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Silkscreen',
        cursive;
}

header ul {
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header ul a {
    color: #000;
    font-weight: bold;
    line-height: 1;
    background: linear-gradient(0deg, #6a5acd, slateblue) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
}

header ul a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

header.sticky {
    background-color: #000;
    box-shadow: 0 5px 20px #6a5acd;
}

header.sticky a {
    color: #fff;
}

/* Banner section style */
main .container .banner {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #000; */
}

.banner .banner-txt {
    color: #000;
    text-align: center;
}

.banner .banner-txt h1 {
    font-size: 45px;
}


.banner .banner-txt h2 span {
    color: #6a5acd;
    font-size: 50px;
}

.banner .neumorphism {
    z-index: -1;
    position: absolute;
    height: 200px;
    width: 200px;
    top: 161px;
    right: 109px;
    transform: rotate(70deg);
    border-radius: 50px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
}

.banner .neumorphism2 {
    z-index: -1;
    position: absolute;
    height: 250px;
    width: 250px;
    top: 200px;
    left: 109px;
    transform: rotate(45deg);
    border-radius: 80px;
    background: #ffffff;
    box-shadow: -20px 20px 60px #d9d9d9, 20px -20px 60px #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
}

.banner .neumorphism3 {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 350px;
    right: 209px;
    transform: rotate(70deg);
    border-radius: 50%;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #6a5acd;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

main .container .banner .handwritten {
    z-index: -1;
    position: absolute;
    color: #6a5acd;
    font-family: 'Dancing Script',
        cursive;
    font-size: 30px;
    top: 450px;
    transform: translate(-50%, -50%) rotate(-5deg);
    background-size: 120px;
    background-image: url(../img/primary-circle.svg);
}


/* Télécharger mon CV Btn */
.cv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cv-btn {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    color: #6a5acd;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.cv-btn:after {
    content: "";
    background-color: #D9D3E4;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.cv-btn:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .cv-btn {
        padding: 13px 50px 13px;
    }
}

.cv .cv-btn span {
    position: relative;
    left: 6px;
    top: 4px;
}

/* Réalisation section style */
main .realisation {
    height: auto;
    width: 100%;
    padding-top: 80px;
    /* padding: 80px 0; */
}

main .realisation .title {
    text-align: center;
    font-size: 50px;
    color: #6a5acd;
}

main .realisation .title::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    background: 50%/contain url(../img/primary-down.svg) no-repeat;
}

main .realisation .container {
    width: 100%;
    height: auto;
}

main .realisation .container .row {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

main .realisation .container .row .card {
    width: 250px;
    height: 350px;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    background: rgb(90, 120, 205);
    background: linear-gradient(71deg, rgba(90, 120, 205, 0.23339758266587884) 0%, rgba(255, 88, 60, 0.5779353977919293) 99%);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.row .card:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

.row .card h1 {
    font-size: 22px;
    color: #6a5acd;
    margin-bottom: 15px;
}

.row .card p {
    font-size: 15px;
}

.row .card .btn {
    color: #ff7e3c;
    border: 1px solid #ff7e3c;
    border-radius: 20px;
    padding: 9px 40px;
    cursor: pointer;
    background-color: hsl(0deg 0% 100% / 23%);
    -webkit-backdrop-filter: blur(.8rem);
    backdrop-filter: blur(0.8rem);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.row .card .btn:hover {
    color: #6a5acd;
    background-color: rgba(255, 255, 255, 0.32);
    -webkit-backdrop-filter: blur(.8rem);
    backdrop-filter: blur(0.8rem);
}


/* Expérience Pro contain style */

main .experience {
    width: 100%;
    padding-top: 80px;
    height: auto;
}

main .experience .title {
    text-align: center;
    font-size: 50px;
    color: #6a5acd;
}

main .experience .title::after {
    content: "";
    position: absolute;
    width: 105px;
    height: 105px;
    background: 50%/contain url(../img/Lunette.gif) no-repeat;
}

main .experience .container {
    width: 100%;
    height: auto;
}

/******Time Line Style **************/
.timeline-section {
    min-height: 100vh;
    padding: 50px 15px;
}

.timeline-items {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #6a5acd;
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 16px;
    width: 16px;
    background-color: #eaa023;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size: 18px;
    color: #eaa023;
    margin: 6px 0 15px;
}

.timeline-content {
    background: rgb(90, 120, 205);
    background: linear-gradient(71deg, rgba(90, 120, 205, 0.23339758266587884) 0%, rgba(255, 88, 60, 0.5779353977919293) 99%);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 30px;
    border-radius: 5px;
}

.timeline-content:hover {
    transform: scale(1.03);
}

.timeline-content h3 {
    font-size: 20px;
    color: #ffffff;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 700;
}

.timeline-content p {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    /* justify-content: justify; */
    line-height: 22px;
}

/* responsive */
@media(max-width: 767px) {
    .timeline-items::before {
        left: 7px;
    }

    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }

    .timeline-dot {
        left: 0;
    }
}

/******Time Line End **************/


/* Services contain style */

main .service {
    width: 100%;
    padding-top: 80px;
    height: auto;
}

main .service .title {
    position: relative;
    text-align: center;
    margin-bottom: 80px;
    font-size: 50px;
    color: #6a5acd;
}

main .service .title::after {
    content: "";
    position: absolute;
    top: -9px;
    width: 105px;
    height: 105px;
    background: 50%/contain url(../img/Calculatrice.gif) no-repeat;
}

main .service .container {
    width: 100%;
    height: auto;
}

main .service .container .row {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.service .container .row .service-contain {
    height: 200px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgb(90, 120, 205);
    background: linear-gradient(71deg, rgba(90, 120, 205, 0.23339758266587884) 0%, rgba(255, 88, 60, 0.5779353977919293) 99%);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 30px;
    border-radius: 5px;
}

.service .container .row .service-contain:hover {
    transform: scale(1.03);
}

.service .container .row .service-contain h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

.service .container .row .service-contain p {
    font-size: 16px;
    font-weight: 700;
    text-align: justify !important;
}

/* Formation contain style */

main .formation {
    width: 100%;
    padding: 80px 0;
    height: auto;
}

main .formation .title {
    position: relative;
    text-align: center;
    margin-bottom: 80px;
    font-size: 50px;
    color: #6a5acd;
}

main .formation .title::after {
    content: "";
    position: absolute;
    top: -9px;
    width: 105px;
    height: 105px;
    background: 50%/contain url(../img/diplome.gif) no-repeat;
}

main .formation .container {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .timeline .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timeline .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent rgb(252, 248, 248) transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .timeline .left::after,
    .timeline .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .timeline .right {
        left: 0%;
    }

    .timeline .left {
        left: 0%;
    }
}

/* Media Query */

/* flex: 1 1 90%; */
/* flex: 2 1 150px; */

@media screen and (max-width: 1020px) {
    main .container .portfolio .portfolio-contain .row .items {
        flex: 2 1 47%;
        margin: 10px;
    }

    main .container .portfolio .portfolio-contain .row {
        margin-bottom: 0px;
    }

    header .header-contain .img-responsive {
        width: 250px;
    }

    .overlay {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    header .header-contain .description {
        height: auto !important;
    }

    .description-contain h1,
    .description-contain h2,
    .description-contain address {
        font-size: 20px
    }


    header .header-contain .description .description-contain {
        text-align: center;
        padding: 50px 20px;
        /* margin-top: 100px; */
    }
}