@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

/* Reset all style */
* {
    font-family: 'Poppins',
        sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

/* header section style */


/* overlay section style */


header .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1099;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

header .overlay.show {
    visibility: visible;
    opacity: 1;
}

header .overlay .popupBox {
    position: absolute;
    width: 759px;
    height: 435px;
    left: 50%;
    top: 51%;
    display: flex;
    flex-direction: row;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000055;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.popupTxt .closeBtnDesktop {
    position: fixed;
    height: 38px;
    width: 38px;
    top: 8px;
    right: 10px;
    border: 1px solid gray;
    padding: 18px;
    cursor: pointer;
    background: transparent url('../../asset/img/icon-close-desktop.svg');
}

header .overlay .popupBox .popupTxt {
    position: relative;
    width: 100%;
    padding: 100px;
}

header .overlay .popupBox .popupTxt .btnDownload {
    margin-top: 20px;
    padding: 5px 20px;
    cursor: pointer;
}


header .header-contain {
    /* padding-top: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .header-contain .description {
    width: 100%;
    height: 100vh;
    background-image: url('../../asset/img/header.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .header-contain .description .description-contain {
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 50px;
    background-color: rgba(233, 231, 231, 0.473);
}

.skill {
    font-weight: bold;
}

/* header .header-contain .description .description-contain :nth-child(1) {
    
} */

header .header-contain .description .description-contain :nth-child(2) {
    margin: 10px;
    /* font-weight: 500; */

}

header .header-contain .description .description-contain :nth-child(3) {
    margin: 10px;
}

/* main section style */
main .container {
    width: 90%;
    margin: 0 auto;
}

main .container .portfolio {
    margin-top: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

main .container .portfolio .title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 60px;
}



main .container .portfolio .portfolio-contain {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

main .container .portfolio .portfolio-contain .row {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main .container .portfolio .portfolio-contain .row .items {
    width: 24%;
    height: 500px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

main .container .portfolio .portfolio-contain .row .items:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

main .container .portfolio .portfolio-contain .row .item {
    width: 100%;
    height: 200px;
    cursor: pointer;
    background-position: center;
    background-size: cover;

    /* width: 250px; */
}

main .container .portfolio .portfolio-contain .row .items h1 {
    margin: 15px 0px 5px;
    line-height: 27px;
    text-align: center;
}

main .container .portfolio .portfolio-contain .row .items .description {
    margin: 10px 3px;
    text-align: center;
}

main .container .portfolio .portfolio-contain .row .items .btn {
    margin-top: 20px;
    border-radius: 25px;
    color: #000;
    text-align: center;
    width: 70%;
    height: 40px;
    padding: 8px 20px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

main .container .portfolio .portfolio-contain .row .items .btn:hover {
    color: #FFF;
    background: orange;
}

/**************************** Row 1 item img *************************/
main .container .portfolio .portfolio-contain .row .projet1 {
    background-image: url('../../asset/img/projet1.png');
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}


main .container .portfolio .portfolio-contain .row .projet2 {
    background-image: url('../../asset/img/projet2.png');
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}



main .container .portfolio .portfolio-contain .row .projet3 {
    background-image: url('../../asset/img/pokedex.jpg');
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

main .container .portfolio .portfolio-contain .row .projet4 {
    background-image: url('../../asset/img/projet4.png');
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

/**************************** Row 2 item img *************************/
main .container .portfolio .portfolio-contain .row .projet5 {
    background-image: url('../../asset/img/projet5.png');
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

main .container .portfolio .portfolio-contain .row .projet6 {
    background-image: url('../../asset/img/projet6.png');
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

main .container .portfolio .portfolio-contain .row .projet7 {
    background-image: url('../../asset/img/projet7.png');
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

main .container .portfolio .portfolio-contain .row .projet8 {
    background-image: url('../../asset/img/projet8.png');
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

/*********************** Education *********************/

main .education .education-contain .education-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}



/************************* Time Line ************************/


/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(175, 172, 172);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.timeline .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timeline .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.timeline .left {
    left: -25%;
}

/* Place the container to the right */
.timeline .right {
    left: 25%;
}

/* Add arrows to the left container (pointing right) */
.timeline .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(252, 248, 248);
}

/* Add arrows to the right container (pointing left) */
.timeline .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(252, 248, 248) transparent transparent;
}

/* Fix the circle for containers on the right side */
.timeline .right::after {
    left: -16px;
}

/* The actual content */
.timeline .content {
    padding: 20px 30px;
    background-color: rgb(252, 248, 248);
    position: relative;
    border-radius: 6px;
}

.timeline .content :hover {
    cursor: pointer;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}

/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .timeline .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timeline .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent rgb(252, 248, 248) transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .timeline .left::after,
    .timeline .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .timeline .right {
        left: 0%;
    }

    .timeline .left {
        left: 0%;
    }
}

/* Media Query */

/* flex: 1 1 90%; */
/* flex: 2 1 150px; */
@media screen and (max-width: 1020px) {
    main .container .portfolio .portfolio-contain .row .items {
        flex: 2 1 47%;
        margin: 10px;
    }

    main .container .portfolio .portfolio-contain .row {
        margin-bottom: 0px;
    }

    header .header-contain .img-responsive {
        width: 250px;
    }

    .overlay {
        display: none;
    }
}